body {
    font-family: 'Archivo', sans-serif;
    background-color: rgb(248, 251, 251);
    color: rgb(50, 34, 30);
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    text-align: center;
    font-family: 'Clash Display', sans-serif;
    font-style: bold;
    font-size: 95px;
    color: rgb(50, 34, 30);
}

h2 {
    font-family: 'Clash Display', 'Archivo', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Clash Display', 'Archivo', sans-serif;
    font-size: 20px;
}
.header {
    padding: 20px 40px 10px;
}

.about-paragraph {
    padding-right:350px;
}

.indent {
    text-indent: 15px;
}

.tagline {
    text-align: center;
    color: rgb(50, 34, 30);
    font-size: 15px;
    font-style: italic;
}

.copyright {
    color: rgb(56, 56, 56);
    font-style: italic;
    font-size: small;
}

a {
    color: rgb(68, 10, 38);
}
a:hover {
    color: rgb(173, 165, 157);
}

.navbar{
    background-color: rgb(50, 34, 30);
    color: rgb(50, 34, 30);
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 15px;
}

#nav-text {
    color: rgb(239, 251, 255);
    font-size: 25px;
}

img {
    width: 300px;
    border-radius: 15px;
}